.mainDivWidth{
	max-width: 300px;
	height: 450px;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 1px;
	border-color: #707375;
	border-style: dashed;
}

.leftHeader{
	text-align: left;
	float: left;
	width: 150px;
	height: 50px;
	font-size: 18px;
	font-family: serif;	
	vertical-align: middle;
	text-align: center;
}

.rightHeader{
	float: left;
	text-align: right;
	width: 150px;
	height: 50px;
	font-size: 30px;
	font-family: serif;	
	vertical-align: middle;
	text-align: center;

}

.ok_div{
	text-align: center;
	width: 300px;
	height: 50px;
	font-size: 25px;
	font-family: serif;	
	background-color: #2c98cb;
}

.middleDiv{
	width: 300px;
	height: 50px;
	border-bottom: 1px;
	border-color: #707375;
	vertical-align: middle;
}

div.middleDiv:hover{
	background-color: #e0f2fa;
}

/*input[type=radio]:checked + span:before {
    background: green;
  box-shadow: 0 0 0 0.25em #000;
}

input[type="radio"] + span {
  display: block;
}

input[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}


/* never forget focus styling */
/*input[type="radio"]:focus + span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}*/